@import "_variables.scss";

mat-card:hover {
    box-shadow: 2px 3px 15px -2px rgba(0, 0, 0, 0.1),
        0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12) !important;
}

.mat-drawer-backdrop.mat-drawer-shown {
    background-color: transparent !important;
}

mat-card-title {
    border-bottom: 1px solid mat-color($success);
}

mat-card-content {
    margin-top: 20px;
}
